<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Opossum</title>

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container-fluid">
    <form method="POST" action="{{ url_for('save') }}" class="form-inline">

    <div class="row" style="position: fixed; padding: 10px 30px; background: white; border: 1px solid #808080;">
        <input type="submit" value="SAVE" class="btn btn-primary">
    </div>

    <div class="row">
    <table class="table table-hover table-bordered table-responsive">
        <thead>
            <tr>
                <th>Shutterstock Id</th>
                <th>Title</th>
                <th>Image</th>
                <th>Name</th>
                <th style="width: 200px;">Keywords</th>
            </tr>
        </thead>

        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.title }}</td>
                <td>
                    {{ item.image }}
                    <img width="150" height="167" src="{{ url_for('img', image_id=item.image) }}">
                </td>
                <td class="success">
                    <input type="text" name="name_{{ item.id }}" value="{{ item.name }}">
                </td>
                <td style="width: 200px; white-space: normal;">
                    <div class="pull-left">{{ item.keywords }}</div>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>

    </div>

     </form>

    </div>
  </body>
</html>
